body {
    background: rgb(240,130,128);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(308deg, rgba(240,130,128,1) 75%, rgba(244,183,142,1) 99%);

}

.prueba{
    display: block;
}

.elementos {
    max-width: 90%; /* Para que ocupe el 90% del ancho de la pantalla */
    width: 500px;   /* Ancho máximo en dispositivos grandes */
    box-sizing: border-box; /* Asegura que el padding no exceda el ancho total */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4978E;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 7px 7px 10px 5px #eb9d96;  /*Se especifica sombra eje x, sombra eye y, */
}
.form {
    display: flex;
    width: 100%;
}

button, input{
    border: none;
    border-radius: 9px;
    padding: 5px 10px 5px 10px
}

.botones {
    display: flex;
    justify-content: space-between;
}

.no {
    position: initial;
}

#chestercito {
    transform: scale(var(ejeX), var(ejeY));
}

h3 {
    color: rgb(223, 65, 65);
}